<form method="POST" action="/users/symbol">
    <input name="symbol" placeholde="new symbol?">
    <input type="submit" value="add">
</form>

<table>
    <tr>
        <td>Symbol</td>
        <td>Value</td>
    </tr>
    <% userSymbols.forEach((userSymbol) => { %>
        <tr>
            <td><%=userSymbol.symbol%></td>
            <td><%=symbolValues.find((symbolValue) => symbolValue.symbol === userSymbol.symbol).value%></td>
        </tr>

    <% }) %>
</table>
