<p>hello <%=username%></p>
<form action="/symbol" method="POST">
    <label for="symbol">please add a symbol</label>
    <input type="text" name="symbol" id="symbol">
    <button>Add symbol</button>
</form>

<table>
    <% userSymbols.forEach((userSymbolRecord) => { %>
        <tr>
            <td><%=userSymbolRecord.symbol%></td>
        </tr>
    <% }) %>
</table>